Amanda Rodgers
July 18, 2024
Anti-money laundering Project

In [ ]:
# Dataset: https://www.kaggle.com/datasets/anshankul/ibm-amlsim-example-dataset?select=transactions.csv
# Tutorial: https://medium.com/@jasonclwu/network-analysis-for-anti-money-laundering-with-python-ad981792a947
# Github: https://github.com/jasonclwu/202209_AML_Network_Analysis/blob/main/AML_Network_Analysis.ipynb

In [1]:
# Import libraries
import pandas as pd
import networkx as nx
from pyvis import network as net
import matplotlib.pyplot as plt
%matplotlib inline
pd.options.display.float_format = '{:,.0f}'.format

In [2]:
# Create df with dataset
txn_small = pd.read_csv('transactions.csv', usecols=['SENDER_ACCOUNT_ID','RECEIVER_ACCOUNT_ID','TX_AMOUNT'], dtype='object')
txn_small['TX_AMOUNT'] = txn_small['TX_AMOUNT'].astype(float)
txn_small

        SENDER_ACCOUNT_ID RECEIVER_ACCOUNT_ID  TX_AMOUNT
0                    6456                9069        465
1                    7516                9543        565
2                    2445                9356        599
3                    2576                4617        466
4                    3524                1773        406
...                   ...                 ...        ...
1323229              3733                8051        113
1323230              2536                8732        460
1323231              1466                8586        469
1323232              1451                3849        562
1323233               545                2724        416

[1323234 rows x 3 columns]

<h2>Sum transaction amounts for each node pair</h2>

In [3]:
# Form nodes and edges by grouping by account numbers with a count of transactions and sum of amounts
# Money came from source account and target is the account it went to
# Create new columns agg_txn_count(number of transactions) and agg_txn_amt (sum of all transactions)
edge_small = txn_small.groupby(['SENDER_ACCOUNT_ID', 'RECEIVER_ACCOUNT_ID'],as_index=False).agg({'TX_AMOUNT':['count','sum']})
edge_small.columns = ['source','target','agg_txn_count','agg_txn_amt']
edge_small

      source target  agg_txn_count  agg_txn_amt
0          1    884             24        4,219
1         10   8317             21        2,003
2         10   8520             21        2,003
3        100   3472             18          978
4        100   9954             18          978
...      ...    ...            ...          ...
68942   9999   9866             19        6,035
68943   9999   9981             19        6,035
68944   9999   9982             19        6,035
68945   9999   9985             19        6,035
68946   9999   9986             19        6,035

[68947 rows x 4 columns]