Amanda Rodgers
AML Graph Project
July 17, 2024

In [2]:
pip install pyvis

Collecting pyvis
  Downloading pyvis-0.3.2-py3-none-any.whl.metadata (1.7 kB)
Requirement already satisfied: ipython>=5.3.0 in /opt/anaconda3/lib/python3.11/site-packages (from pyvis) (8.20.0)
Requirement already satisfied: jinja2>=2.9.6 in /opt/anaconda3/lib/python3.11/site-packages (from pyvis) (3.1.3)
Collecting jsonpickle>=1.4.1 (from pyvis)
  Downloading jsonpickle-3.2.2-py3-none-any.whl.metadata (7.2 kB)
Requirement already satisfied: networkx>=1.11 in /opt/anaconda3/lib/python3.11/site-packages (from pyvis) (3.1)
Requirement already satisfied: decorator in /opt/anaconda3/lib/python3.11/site-packages (from ipython>=5.3.0->pyvis) (5.1.1)
Requirement already satisfied: jedi>=0.16 in /opt/anaconda3/lib/python3.11/site-packages (from ipython>=5.3.0->pyvis) (0.18.1)
Requirement already satisfied: matplotlib-inline in /opt/anaconda3/lib/python3.11/site-packages (from ipython>=5.3.0->pyvis) (0.1.6)
Requirement already satisfied: prompt-toolkit<3.1.0,>=3.0.41 in /opt/anaconda3/lib/python3.11/site-packages (from ipython>=5.3.0->pyvis) (3.0.43)
Requirement already satisfied: pygments>=2.4.0 in /opt/anaconda3/lib/python3.11/site-packages (from ipython>=5.3.0->pyvis) (2.15.1)
Requirement already satisfied: stack-data in /opt/anaconda3/lib/python3.11/site-packages (from ipython>=5.3.0->pyvis) (0.2.0)
Requirement already satisfied: traitlets>=5 in /opt/anaconda3/lib/python3.11/site-packages (from ipython>=5.3.0->pyvis) (5.7.1)
Requirement already satisfied: pexpect>4.3 in /opt/anaconda3/lib/python3.11/site-packages (from ipython>=5.3.0->pyvis) (4.8.0)
Requirement already satisfied: MarkupSafe>=2.0 in /opt/anaconda3/lib/python3.11/site-packages (from jinja2>=2.9.6->pyvis) (2.1.3)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in /opt/anaconda3/lib/python3.11/site-packages (from jedi>=0.16->ipython>=5.3.0->pyvis) (0.8.3)
Requirement already satisfied: ptyprocess>=0.5 in /opt/anaconda3/lib/python3.11/site-packages (from pexpect>4.3->ipython>=5.3.0->pyvis) (0.7.0)
Requirement already satisfied: wcwidth in /opt/anaconda3/lib/python3.11/site-packages (from prompt-toolkit<3.1.0,>=3.0.41->ipython>=5.3.0->pyvis) (0.2.5)
Requirement already satisfied: executing in /opt/anaconda3/lib/python3.11/site-packages (from stack-data->ipython>=5.3.0->pyvis) (0.8.3)
Requirement already satisfied: asttokens in /opt/anaconda3/lib/python3.11/site-packages (from stack-data->ipython>=5.3.0->pyvis) (2.0.5)
Requirement already satisfied: pure-eval in /opt/anaconda3/lib/python3.11/site-packages (from stack-data->ipython>=5.3.0->pyvis) (0.2.2)
Requirement already satisfied: six in /opt/anaconda3/lib/python3.11/site-packages (from asttokens->stack-data->ipython>=5.3.0->pyvis) (1.16.0)
Downloading pyvis-0.3.2-py3-none-any.whl (756 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 756.0/756.0 kB 5.7 MB/s eta 0:00:00a 0:00:01m
Downloading jsonpickle-3.2.2-py3-none-any.whl (41 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 41.8/41.8 kB 3.6 MB/s eta 0:00:00
Installing collected packages: jsonpickle, pyvis
Successfully installed jsonpickle-3.2.2 pyvis-0.3.2
Note: you may need to restart the kernel to use updated packages.

In [3]:
import pandas as pd
import networkx as nx
from pyvis import network as net
import matplotlib.pyplot as plt
%matplotlib inline
pd.options.display.float_format = '{:,.0f}'.format

In [4]:
# Create fake df for transactions

import pandas as pd
import numpy as np
import random

# Seed for reproducibility
np.random.seed(42)
random.seed(42)

# Generate 100 rows of data
n_rows = 100

# Generate random account numbers as strings for SENDER_ACCOUNT_ID and RECEIVER_ACCOUNT_ID
sender_account_ids = [f"ACC{random.randint(100000, 999999)}" for _ in range(n_rows)]
receiver_account_ids = [f"ACC{random.randint(100000, 999999)}" for _ in range(n_rows)]

# Generate random float numbers for TX_AMOUNT
tx_amounts = np.round(np.random.uniform(10.0, 1000.0, n_rows), 2)

# Create the DataFrame
txn_small = pd.DataFrame({
    'SENDER_ACCOUNT_ID': sender_account_ids,
    'RECEIVER_ACCOUNT_ID': receiver_account_ids,
    'TX_AMOUNT': tx_amounts
})

# Display the first few rows of the DataFrame
print(txn_small.head())

  SENDER_ACCOUNT_ID RECEIVER_ACCOUNT_ID  TX_AMOUNT
0         ACC770487           ACC738720        381
1         ACC216739           ACC765822        951
2         ACC126225           ACC279451        735
3         ACC877572           ACC660086        603
4         ACC388389           ACC864544        164

<h2>Sum transaction amounts for each node pair</h2>

In [5]:
# Form nodes and edges by grouping by account numbers with a count of transactions and sum of amounts
# Source account money came from and target is the account it went to
edge_small = txn_small.groupby(['SENDER_ACCOUNT_ID', 'RECEIVER_ACCOUNT_ID'],as_index=False).agg({'TX_AMOUNT':['count','sum']})
edge_small.columns = ['source','target','agg_txn_count','agg_txn_amt']
edge_small

       source     target  agg_txn_count  agg_txn_amt
0   ACC106814  ACC774079              1          312
1   ACC126225  ACC279451              1          735
2   ACC127824  ACC944151              1          373
3   ACC131244  ACC905635              1          530
4   ACC133326  ACC983794              1          311
..        ...        ...            ...          ...
95  ACC948749  ACC514850              1          810
96  ACC969693  ACC166613              1          804
97  ACC974628  ACC555884              1          888
98  ACC988662  ACC245051              1          896
99  ACC996865  ACC887352              1          627

[100 rows x 4 columns]